.status-filter button {
    width: 10%;
    height: 10%;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
    /* display: inline; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    margin-right: 2%;
    margin-bottom: 4%;

}

.status-filter button:hover {
    background-color: #ff6b00;
}